/* reponsive media query csss */
@media (min-width: 320px) and (max-width:479px){
.wshipping-content-block{padding:0px 51px;}
.process-step::before{background-color:transparent;}
.h{font-size:20px;}
.title p{font-size:14px;}
.process-step{margin-bottom:20px;}
.pjc-form{width:100%;}
.banner-inner-text{padding:0;}
.related_features{padding:12px;}
.about-banner-inner-text{margin-top:24px;}
}
@media (min-width: 480px) and (max-width:599px){
}
@media (min-width: 600px) and (max-width:767px){
}
@media (min-width: 768px) and (max-width:991px){
.pjc-form{width:70%;}
}
@media (min-width: 992px) and (max-width:1199px){
}
