body {
  font-family: 'Open Sans', sans-serif;
  color:#555;
  letter-spacing:1px;
}

p
{
  font-family:'Open Sans', sans-serif;
  font-size:15px;
  color:#555;
}
h1, h2, h3, h5, h6
{
  font-family:'Open Sans', sans-serif;
}
a:hover
{
  text-decoration: none;
}
ul, li {
    
    padding: 0;
 }
.top-header {
    padding: 8px 0;
}
.navbar-light .navbar-nav .nav-link
{
	font-size:15px;
}
.dropdown-item
{
	font-family:'Open Sans', sans-serif;
	color:#555;
	font-size:12px;
}
.pjc-form{
	background-color:#003399;
    padding: 8px;
    width: 50%;
    text-align: center;
}
.pjc-form a
{
	color:#fff;
}
.carousel-indicators li
{
background-color:#bf712e;
}
/*why pjc */

section.pjc-slider {
    margin-bottom: 55px;
}
section.why-pjc-test {
    text-align: center;
    margin-bottom:110px;
}
section.why-pjc-test p{
    text-align:justify;
  }
.c-more a
{
	background:#bf712e;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}
.pjc-detail
{
	margin-bottom:40px;
}

/*=== style for processing steps*/
section.Processing-steps
{
	padding: 31px 0;
    text-align: center;
    margin-bottom:0px;
}
.bg-light {
    background: #f7f7f7;
}

.space-large {
    padding-top: 100px;
    padding-bottom: 100px;
}
.bg-light {
    background-color: #f8f9fa!important;
}
.overlay-section-block {
    position: absolute;
    top: -180px;
    background: #f8f9fa;
    padding-top: 40px;
    width: 92%;
}
.service-process {
    background-color: #fafafa;
    position: relative;
}
.wshipping-content-block {
    padding:0px 0px;
}
.service-process::before {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
*::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    margin-top: 0px;
    text-transform: uppercase;
    color: #444444;
}
h2 {
    font-size: 32px;
    font-weight: 400;
}
p {
    margin: 0 0 10px;
}
.process-row {
    padding-top: 40px;
}
.process-step::before {
    position: absolute;
    right: -123px;
    width: 110px;
    height: 2px;
    background-color: #da853d;
    content: "";
    top: 80px;
    display: block;
}

.process-icon {
    width: 164px;
    text-align: center;
    height: 164px;
    float: left;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #da853d;
    position: relative;
    padding-top: 44px;
    margin-bottom: 10px;
}
.process-icon span {
    width: 56px;
    height: 56px;
    background-color: #da853d;
    border: 2px solid #fff;
    color: #fff;
    line-height: 56px;
    font-size: 28px;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -30px;
    border-radius: 100%;
    font-weight: 700;
}
.process-step p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    clear: both;
}
.process-step p {
    margin-bottom: 0px;
}
p {
    margin: 0 0 10px;
}
.process-step {
    float: left;
    width: 160px;
    margin-right: 14%;
    position: relative;
}
.process-step:last-child {
    margin-right: 0px;
}
.process-step:last-child::before
 {
display:none;
}

/*news and events*/
section.newsevents
{
	margin-bottom:55px;
}
.title
{
	margin-bottom:30px;
	text-align:center;
}
.newsevents-img-box {
    position: relative;
    display: block;
}
 .newsevents-date {
    position: absolute;
    display: block;
    padding: 10px;
    background:#172272;
    top: 12px;
    right: 12px;
    z-index: 100;
}
span.month {
    display: block;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.78);
    margin-bottom: 8px;
}
span.date {
    font-size: 28px;
    font-family: "Roboto Condensed";
    color: #ffffff;
    font-weight: bold;
    line-height: 1;
}
.newsevents-img-box a.hover-effect {
    z-index: 0;
    width: 100%;
}

.hover-effect {
    background: #000;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 -1.5px;
}

.newsevents-content {
    background: #fff;
    box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.15);
    padding: 25px 20px;
}
.newsevents-content h3 a {
    font-size:18px;
    color: #41454f;
    line-height: 1.4;
    margin: 0 0 20px;
}
.newsevents-content p {
    color:#787c7f;
    margin-bottom: 0;
}
.banner-section
{
	margin-bottom:60px;
}
.banner-image
{
 background-image:url(../images/banner.jpg);
 background-size: cover;
 background-position:center;
}
.full-width-banner .banner-image {
    min-height: 400px;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.banner-inner-text
{
	padding:100px;
	color:#fff;
}
.banner-inner-text h2, .banner-inner-text p
{
	color:#fff;
}
.banner-inner-text p{
	margin-bottom: 25px;
}
.banner-text
{
background:#da853d !important;
}
.helping-you-succeed .banner-image
{
width: 100%;
display: initial;
}
.h
{
	display: inline-block;
	font-size:28px;
}
.h:before {
    margin-right: 25px;
}
.h:after {
    content: ":::";
    color: #3F51B5;
}
.h:after {
    margin-left: 25px;
}
.h:before {
    content: ":::";
    color: #3F51B5;
}


/*testimonial*/
.testimonial{
    text-align: center;
}

.testimonial .pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.testimonial .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.testimonial .testimonial-title{
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: #0c4767;
    margin: 0 0 70px 0;
}
.testimonial .testimonial-title small{
    font-size: 15px;
    font-weight: 600;
    color: #787878;
}
.testimonial .description{
    font-size: 14px;
    color: #787878;
    line-height: 27px;
    position: relative;
    margin: 0;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: fontawesome;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 48%;
    font-size: 20px;
    color: #fa7921;
    line-height:33px;
    border: 2px solid #fa7921;
}

.owl-theme .owl-controls .owl-page span{
    background: #fff;
    border: 2px solid #0c4767;
    opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span{
    border: 2px solid #fa7921;
}@charset "utf-8";


/*footer*/
.bg-grey {
    background: #f5f5f5;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
 .btn-footer {
 color: grey;

text-decoration: none;
border: 1px solid;
border-radius: 43px;
font-size: 13px;
padding: 7px 30px;
line-height: 47px;
}
 .btn-footer:hover {
            
  text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
 .form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
.social .fa {
color: #fff;
font-size: 22px;
padding: 10px 15px;
background:#da853d;
}
footer ul li {
list-style: none;
display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}


/*about page*/
.about-banner-section
{
	margin-bottom:36px;
}
.about-banner-image
{
 background-image:url(../images/banner/content.jpg);
 background-size: cover;
 background-position:center;
}
.full-width-about-banner .about-banner-image {
    min-height: 273px;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.about-banner-inner-text
{   
padding: 15px;
color: #fff;
margin-top: 92px;
text-align: center;
}.about-banner-inner-text h2
{
 font-size:24px;
}
.about-banner-inner-text h2, .about-banner-inner-text p
{
	color:#fff;
	text-transform:uppercase;
}
.about-banner-inner-text p{
	margin-bottom: 25px;
}
.about-banner-text
{
background:#da853d !important;
}
.helping-you-succeed .about-banner-image
{
width: 100%;
display: initial;
}
.full-width-about-banner
{
margin-bottom:50px;
}
.aboutus-content h2
{
 font-size:24px;
}
.background-bg {
    background-color:#f5f5f5;
    padding:25px;
}
.background-bg h3 {
    color: #555;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
}
.background-bg p {
    font-size: 14px;
    color: #555;
    text-align: center;
}

/*css for table*/
.c-table table
{
  margin: 20px 0 16px 0;
   font-family: 'Open Sans', sans-serif;
}
.c-table th {
width: 10em;
padding: 20px 20px;
padding-left: 30px;
background:#ecb584;
vertical-align: middle;
color:#fff;
font-weight:200;
font-family: 'Open Sans', sans-serif;
}
.c-table td
{
 font-size:14px;
 background-color:#f7f7f7;
 color:rgba(0, 0, 0, 0.69);
 font-family: 'Open Sans', sans-serif;
}

/*== style for quick links section*/
.related_features h2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
}
.related_features h2:after {
    content: '';
    display: block;
    width: 68px;
    height: 2px;
    background:#da853d;
    border-radius: 25%;
    /* margin: auto; */
    margin-top: 10px;
    margin-bottom: 18px;
}
.quick-list li {
    list-style-type: none;
    color: #aaa;
    padding: 6px 0px;
}
.quick-list li a {
    font-size: 15px;
    font-weight: 400;
    color: #555;
}
.quick-list li a:hover {
    text-decoration:underline;
}
.quick-list li a:before {
    content: '\f105';
    font-family: 'FontAwesome';
    color: #f57411;
    padding-right: 8px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

/******************* Timeline Demo - 2 *****************/
.main-timeline2{padding-top:50px;overflow:hidden;position:relative}
.main-timeline2:before{content:"";width:7px;height:100%;background:#959595;margin:0 auto;position:absolute;top:80px;left:0;right:0}
.main-timeline2 .timeline{width:50%;float:left;padding:20px 60px;border-top:7px solid #959595;border-right:7px solid #959595;border-radius:0 30px 0 0;position:relative;right:-3.5px}
.main-timeline2 .icon{display:block;width:50px;height:50px;line-height:50px;border-radius:50%;background:#e84c47;border:1px solid #fff;text-align:center;font-size:25px;color:#fff;box-shadow:0 0 0 2px #f3a29f;position:absolute;top:-30px;left:0}
.main-timeline2 .timeline-content{display:block;padding:30px 10px 10px;border-radius:20px;background:#e84c4785;color:#fff;position:relative}
.main-timeline2 .timeline-content:hover{text-decoration:none;color:#fff}
.main-timeline2 .timeline-content:after,.main-timeline2 .timeline-content:before{content:"";display:block;width:10px;height:50px;border-radius:10px;background:#f3a29f;border:1px solid #fff;position:absolute;top:-35px;left:50px}
.main-timeline2 .timeline-content:after{left:auto;right:50px}
.main-timeline2 .title{font-size:18px;margin:12px 0px;}
.main-timeline2 .description{font-size:13px;letter-spacing:1px;margin:0 0 5px; font-family:'Open Sans', sans-serif; color:#fff;}
.main-timeline2 .timeline:nth-child(2n){border-right:none;border-left:7px solid #959595;border-radius:30px 0 0;right:auto;left:-3.5px}
.main-timeline2 .timeline:nth-child(2n) .icon{left:auto;right:0;box-shadow:0 0 0 2px #00339985}
.main-timeline2 .timeline:nth-child(2){margin-top:130px}
.main-timeline2 .timeline:nth-child(odd){margin:-130px 0 30px}
.main-timeline2 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline2 .timeline:first-child,.main-timeline2 .timeline:last-child:nth-child(even){margin:0 0 30px}
.main-timeline2 .timeline:nth-child(2n) .icon,.main-timeline2 .timeline:nth-child(2n) .timeline-content,.main-timeline2 .timeline:nth-child(2n) .timeline-content:after,.main-timeline2 .timeline:nth-child(2n) .timeline-content:before{background:#00339985}
.main-timeline2 .timeline:nth-child(3n) .icon,.main-timeline2 .timeline:nth-child(3n) .timeline-content,.main-timeline2 .timeline:nth-child(3n) .timeline-content:after,.main-timeline2 .timeline:nth-child(3n) .timeline-content:before{background:#da853dc7}
.main-timeline2 .timeline:nth-child(3n) .icon{box-shadow:0 0 0 2px #da853dc7}
.main-timeline2 .timeline:nth-child(4n) .icon,.main-timeline2 .timeline:nth-child(4n) .timeline-content,.main-timeline2 .timeline:nth-child(4n) .timeline-content:after,.main-timeline2 .timeline:nth-child(4n) .timeline-content:before{background:#3ebae7}
.main-timeline2 .timeline:nth-child(4n) .icon{box-shadow:0 0 0 2px #3eb5e0ab}
@media only screen and (max-width:767px){.main-timeline2:before{left:0;right:auto}
.main-timeline2 .timeline,.main-timeline2 .timeline:nth-child(even),.main-timeline2 .timeline:nth-child(odd){width:100%;float:none;padding:20px 30px;margin:0 0 30px;border-right:none;border-left:7px solid #084772;border-radius:30px 0 0;right:auto;left:0}
.main-timeline2 .icon{left:auto;right:0}
}
@media only screen and (max-width:480px){.main-timeline2 .title{font-size:18px}
}
.main-timeline2 img
{
    width: 32px;
    margin-top: -12px;
}


/*style for banner*/
.content-banner-image
{
 background-image:url(../images/banner/1.jpg);
 background-size: cover;
 background-position:center;
}
.full-width-about-banner .content-banner-image {
    min-height: 273px;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.helping-you-succeed .content-banner-image {
    width: 100%;
    display: initial;
}
.links-banner-image
{
 background-image:url(../images/banner/banner_useful_links.jpg);
 background-size: cover;
 background-position:center;
}
.full-width-about-banner .links-banner-image {
    min-height: 273px;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.helping-you-succeed .links-banner-image {
    width: 100%;
    display: initial;
}
.exam-banner-image
{
 background-image:url(../images/banner/exam.jpg);
 background-size: cover;
 background-position:center;
}

.full-width-about-banner .exam-banner-image {
    min-height: 273px;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.helping-you-succeed .exam-banner-image {
    width: 100%;
    display: initial;
}
.test-banner-image
{
 background-image:url(../images/banner/3.jpg);
 background-size: cover;
 background-position:center;
}
.full-width-about-banner .test-banner-image {
    min-height: 273px;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.helping-you-succeed .test-banner-image {
    width: 100%;
    display: initial;
}
.contact-banner-image
{
 background-image:url(../images/banner/2.jpg);
 background-size: cover;
 background-position:center;
}
.full-width-about-banner .contact-banner-image {
    min-height: 273px;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.helping-you-succeed .contact-banner-image {
    width: 100%;
    display: initial;
}

/*===faq*/
#accordion-style-1 h1,
#accordion-style-1 a{
    color:#555;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color:rgba(0,0,0,.5);
    background-color: transparent;
    text-decoration: none !important;
    font-size: 18px;
    padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #da853d;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
    display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
    background: #da853d;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display:block;
}
.faq-content
{
    margin-bottom:40px;
}
/*==contact us*/
section.contact-form {
    padding: 0 0 30px;
}
.row.form h2.title-2 {
    font-size: 30px;
    margin-bottom: 35px;
}
h2.title-2 {
    font-size: 40px;
    font-family: "Roboto";
    color: #555;
    font-weight: bold;
    margin: 0;
}
.well-form {
    padding: 30px;
    background: #f4f5f8;
}
.form-group {
    margin-bottom: 30px;
}
.form-control {
    border: 1px solid rgba(244, 244, 244, 0.8);
    background: #ffffff;
    box-shadow: 1px 1.7px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    line-height: 48px;
    height: auto;
    padding: 0 20px;
}
.contact-box {
    padding: 30px 40px;
    background:#f5f5f5;
}
.contact-box i.fa {
    font-size: 20px;
    color: #000;
    float: left;
    width: 20px;
    margin-right: 15px;
    text-align: right;
}
.contact-details {
    padding-left: 35px;
}
h4.pre-footer-title {
    font-size: 20px;
    color: #555;
    font-weight: bold;
    margin: 0 0 15px;
}
.pre-footer > div {
    padding: 0;
}
.pre-footer
{
    margin-bottom:40px;
}
.contact-details p {
    font-size: 14px;
    color:#555;
    line-height: 1.5;
    margin-bottom: 0;
}
iframe
{
    width:100%;
}